<!DOCTYPE html>
<!--
Interested in working with us? See https://www.northernacademy.org/.
-->
<html lang="en">
<link rel="shortcut icon" type="image/jpg" href="/Ian_NEW-W3SCHOOLTUTORIAL/dataTable/NewWBBannercopy.jpg/">
<head>
    <meta charset="UTF-8">
    <title>New Request</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="//code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <!--<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>-->
    <script src = "//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type = "text/javascript"></script>
    <script src="/scripts/dataTables.cellEdit.js"></script>
    <script src="/scripts/advanced1.js"></script>
    <script src = "/scripts/selected.js"></script>
    <script src = "/scripts/vendor_data.js"></script>
    <script>


    </script>


    <style>

        h1 {
            text-align: center;
            font-family: 'Julius Sans One', sans-serif;
        }
        p{
            text-align:center;
            font-family: 'Comfortaa', cursive;
        }
        .button {
            text-align: center;
        }
        body {
            font-family: 'Cormorant Garamond', serif;
        }
        .center {
            text-align: center;
        }
        .my-input-class {
            padding: 3px 6px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .my-confirm-class {
            padding: 3px 6px;
            font-family: 'Exo 2', sans-serif;
            font-size: 12px;
            color: white;
            text-align: center;
            vertical-align: middle;
            border-radius: 4px;
            background-color: #32b74f;
            text-decoration: none;
        }
        .my-cancel-class {
            padding: 3px 6px;
            font-family: 'Exo 2', sans-serif;
            font-size: 12px;
            color: white;
            text-align: center;
            vertical-align: middle;
            border-radius: 4px;
            background-color: #a94442;
            text-decoration: none;
        }
        .error {
            border: solid 1px;
            border-color: #a94442;
        }
        #button1 {
            text-align: center
        }
        #bob {
            text-align:center;
        }
        #gray {
            color: rgb(132, 125, 125);
        }
        #thetext {
            font-family: 'EB Garamond', serif;
            font-size: larger;
        }

    </style>
</head>
<body>
<h1>Vendor Selection List</h1>
<p>required when single item price ≥ $500</p>
<p id ="gray">please edit and select the data you want to submit</p>

<hr><br>
<!----<form id="form" action="/#p=verify_informations&g=4" method="POST">---->
<p id = "thetext" style="display:block">NO SELECTION MADE</p>
<form id="form" class ="form" action = "/vendordata" method ="POST">
    <div style="overflow-x:auto;">
    <table id="example" class="stripe" style="width:100%" class="display select" cellspacing="0" spellcheck="true">
        <thead>
        <tr id="0">

            <th><input name="select_all" value="1" type="checkbox">Buyer Selected</th>
            <th>Item/Service Name</th>
            <th>Vendor</th>
            <th>Vendor Web Link/Contact Info</th>
            <th>Quantity</th>
            <th>Total Quote ($)</th>
            <th>Payment Method (Optional)</th>
        </tr>
        </thead>
        <tbody spellcheck="true">
        <tr id ="1">
            <td></td>
            <td class="item" name="item">New Item </td>
            <td class="vendor" name="vendor">Amazon</td>
            <td class="contact" name="contact">http://www.amazon.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="2">
            <td></td>
            <td class="item" name="item">New Item </td>
            <td class="vendor" name="vendor">Target</td>
            <td class="contact" name="contact">http://www.target.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="3">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">eBay</td>
            <td class="contact" name="contact">http://www.ebay.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="4">
            <td></td>
            <td class="item" name="item">New Item</td>
            <td class="vendor" name="vendor">Walmart</td>
            <td class="contact" name="contact">http://www.walmart.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="5">
            <td></td>
            <td class="item" name="item"></td>
            <td class="vendor" name="vendor"></td>
            <td class="contact" name="contact"></td>
            <td class="amount" name="amount"></td>
            <td class="total-money" name="total-money"></td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="6">
            <td></td>
            <td class="item" name="item"></td>
            <td class="vendor" name="vendor"></td>
            <td class="contact" name="contact"></td>
            <td class="amount" name="amount"></td>
            <td class="total-money" name="total-money"></td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="7">
            <td></td>
            <td class="item" name="item"></td>
            <td class="vendor" name="vendor"></td>
            <td class="contact" name="contact"></td>
            <td class="amount" name="amount"></td>
            <td class="total-money" name="total-money"></td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="8">
            <td></td>
            <td class="item" name="item"></td>
            <td class="vendor" name="vendor"></td>
            <td class="contact" name="contact"></td>
            <td class="amount" name="amount"></td>
            <td class="total-money" name="total-money"></td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="9">
            <td></td>
            <td class="item" name="item"></td>
            <td class="vendor" name="vendor"></td>
            <td class="contact" name="contact"></td>
            <td class="amount" name="amount"></td>
            <td class="total-money" name="total-money"></td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="10">
            <td></td>
            <td class="item" name="item">New Item</td>
            <td class="vendor" name="vendor">Superdry</td>
            <td class="contact" name="contact">http://www.superdry.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">----Optional----</td>
        </tr>
        <tr id ="11">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Athleta</td>
            <td class="contact" name="contact">http://www.athleta.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="12">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Ralph Lauren Corporation</td>
            <td class="contact" name="contact">http://www.www.ralphlauren.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="13">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Old Navy</td>
            <td class="contact" name="contact">http://www.oldnavy.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="14">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Kohl's</td>
            <td class="contact" name="contact">http://www.kohls.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="15">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Barnes & Noble</td>
            <td class="contact" name="contact">https://www.barnesandnoble.com/</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="16">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">J. Crew</td>
            <td class="contact" name="contact">https://www.jcrew.com/</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="17">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Adidas</td>
            <td class="contact" name="contact">https://www.adidas.com/</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="18">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Macy's</td>
            <td class="contact" name="contact">https://www.macys.com/</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="19">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Gap</td>
            <td class="contact" name="contact">http://www.gap.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="20">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">6pm</td>
            <td class="contact" name="contact">https://www.6pm.com/</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>

        <tr id ="21">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Uniqlo</td>
            <td class="contact" name="contact">http://www.uniqlo.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" class="total-money" class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        <tr id ="22">
            <td></td>
            <td class="item" name="item">New Item (Please Specify)</td>
            <td class="vendor" name="vendor">Nike</td>
            <td class="contact" name="contact">http://www.nike.com</td>
            <td class="amount" name="amount">10</td>
            <td class="total-money" name="total-money">10</td>
            <td class="pay" name="pay">Credit</td>
        </tr>
        </tbody>
    </table>
    <div class="bob"><input id="submit" onclick="myFunction()" form="form" type="submit" value="Submit"></div>
    </div>

</form>
<script>
</script>

</table>
</body>
</html>